.container{
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;

    a{
        color:#54b6aa;
        padding: 0 !important; 
        margin: 0 !important; 
        display:inline;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;  
    }
}

.text{
    font-size: 18px;
    line-height: 28px;
}


@media only screen and (max-width: 800px) {
    .container{
        margin-top: 10px;
        margin-bottom: 40px;
        margin-left: 25px; 
        margin-right: 25px; 
        text-align: left;
    }
  }