$thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;

.header{
    background: black;
    overflow-x: hidden;
    color: white;
}

.hero{
    width: 250px;
}

.nav{
    display: flex;
    justify-content: center;
}

.navList{ 
    display: flex; 
    flex-flow: row wrap;
    margin: 0; 
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    border-radius: 5px;
}

.navItem{
    display: inline-block;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: white;
    &:before{
        content: "";
        position: absolute;
        width: 82%;
        margin-left: 10%;
        margin-right: 20%;
        height: 2px;
        bottom: 10px;
        left: 0;
        background-color: #54b6aa;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: $thetransition;
        transition: $thetransition;
        }
        &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        }
}

.active-nav-item{
    color: #54b6aa;
}

@media only screen and (max-width: 768px) {
    .hero{
        width: 220px;
        margin: 0;
        
    }
    .navList{ 
        margin: 0; 
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        font-size: smaller;
    } 

    .navItem{
        margin: 0px;
    }
}